@mixin background-border {
	background-color: rgb(255, 255, 255);
	border: 30px solid #000;
	box-sizing: border-box;
}

@mixin title {
	font-size: 5em;
	font-family: 'Neucha', cursive, Arial, Helvetica, sans-serif;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 200px;
		height: 15px;
		bottom: -20px;
		left: 0;
		background-color: #000;
	}
}

@mixin site-layout {
	max-width: 350px;
	font-size: 1.5em;
	font-family: 'Neucha', cursive, Arial, Helvetica, sans-serif;
	font-weight: bold;
}