.about-me {
	width: 100%;
	height: 100vh;
	padding: 0 50px;
	font-family: Arcade, Arial, Helvetica, sans-serif;
	@include background-border;

	&__wrapper {
		max-width: 1300px;
		display: grid;
		grid-template-rows: .5fr 1fr 1fr;
		align-items: center;
		margin: 0 auto;
	}

	&__title {
		@include title;
	}

	&__descr {
		font-size: 1.5em;
	}
}

.skills-instruments {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1.3em;

	&__list {
		display: grid;
	}
}