.about-me {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	padding: 0 50px;
	font-family: Arcade, Arial, Helvetica, sans-serif;
	@include background-border;

	&__title {
		@include title;
	}

	&__descr {
		font-size: 2em;
	}
}

.about-me__next-block{
	position: relative;
	
	&::after {
		@include hand-button;
		background: url("../images/hand.svg") no-repeat;
		bottom: 71px;
		left: 285px;
	}
}