.portfolio {
	width: 100%;
	height: auto;
	padding: 0 50px 150px;
	@include background-border;

	&__title {
		@include title;
	}
}

.portfolio__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 50px;
	justify-items: center;
	padding: 0;
}

.portfolio__item {
	@include site-layout;
	position: relative;
	background-color: #000;
	&::before,
	&::after {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		z-index: 1;
		background-color: #000;
		transition: all .3s;
	}
	&::before {
		top: 0;
		left: 0;
		transform-origin: top left;
		transform: rotate(-45deg) scale(0);
	}
	&::after {
		bottom: 0;
		right: 0;
		transform-origin: bottom right;
		transform: rotate(45deg) scale(0);
	}

	&:hover::before {
		transform: rotate(-45deg) scale(1);
	}
	&:hover::after {
		transform: rotate(45deg) scale(1);
	}

	&__wrapper {
		width: 100%;
		height: 100%;
		background-color: $main-color;
		position: relative;
		z-index: 10;
		transition: all .3s;

		&:hover {
			transform: translate(15px, -15px);
		}
	}

	&--link {
		height: auto;
		margin: 0;
		padding: 0;
	}

	&--photo {
    width: 100%;
		object-fit: cover;
		margin: 0;
		padding: 0;
	}

	&--descr {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 30px 15px;
		box-sizing: border-box;
	}
}