/* ОБЩИЕ СТИЛИ */
html {
	scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
	font-family: "Open Sans", sans-serif;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

blockquote {
  margin: 0;
}

td {
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title--next-block {
	font-size: 1.5em;
	font-family: Arcade, Arial, Helvetica, sans-serif;
}

@import "fonts";
@import "mixins";

@import "main-page";
@import "about-me";
@import "portfolio";
@import "stack";
